#topbar_container {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 150px;
   z-index: 5;
   display: flex;
   justify-content: space-between;
   background-color: var(--redpink);
}

#find_some_movies {
   font-size: 20px;
   margin-bottom: 10px;
}

#topbar_title {
   color: var(--orange);
   font-family: 'Raleway', sans-serif; 
   width: 180px;
   background-color: rgba(0, 0, 0, .3);
   padding: 10px;
   margin-bottom: 0px;
   font-size: 40px;
   margin: 0px;
}

#topbar_center {
   width: 700px;
   height: 100%;
   /* margin: auto; */
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   padding-top: 30px;
}

#search_bar {
   width: 600px;
}

#search_button {
   margin: 0px;
}

#top_controls {
   display: flex;
   width: 400px;
   justify-content: space-between;
   margin-bottom: 10px;
}

#remove_all {
   display: flex;
   justify-content: flex-end;
   border-bottom: 1px solid var(--orange)
}

#remove_all:hover {
   cursor: pointer;
}

#show_collected_movies {
   display: none;
}

#advanced_search {
   display: none;
}

#logo_container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
}

#tmdb_logo {
   width: 80px;
}


@media screen and (max-width: 700px) {
   #topbar_container {
      flex-direction: column;
      width: 100%;
   }

   #topbar_title {
      width: 70%;
      background-color: rgba(0, 0, 0, 0);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0));
      font-size: 28px;
   }

   #topbar_center {
      width: 100%;
   }

   #find_some_movies {
      display: none;
   }

   #topbar_controls {
      justify-content: space-around;
   }

   #remove_all {
      /* display: none; */
   }

   #show_collected_movies {
      display: flex;
   }

   #logo_container {
      position: absolute;
      width: 50px;
      top: 0;
      right: 0px;
   }

   #tmdb_logo {
      width: 100%;
   }
}