#navbar_container {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   min-height: 50px;
   z-index: 5;
   display: flex;
   background-color: red;
}

#navbar_content {
   width: var(--width_main);
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
}

#search_bar {
   width: 600px;
}

#search_button {
   height: 20px;
   margin: 0px;
}

#advanced_search {
   display: none;
}

#tmdb_logo {
   width: 80px;
}