#collected_movies_container {
   height: 100px;
   min-width: 300px;
   border: 1px solid yellow;
   background: var(--white);
   color: black;
   z-index: 2;
   /* margin-top: 10px; */
   display: flex;
   border-radius: 5px;
   padding: 5px;
   box-shadow: 0px 2px 18px 1px;
}

#collected_movies_controls {
   padding: 5px;
   width: 200px;
   border-right: 3px solid var(--orange);
}

#collected_movies_list {
   display: flex;
   flex-direction: column;
   text-align: center;
   overflow-y: scroll;
   width: 350px;
   padding: 5px;
   position: relative;
}

#add_movies_below {
   color: rgba(0, 0, 0, .3)
}

/* .listing_title {

} */

.collected_movie_listing {
   display: flex;
   justify-content: space-between;
   margin-top: 2px;
   margin-bottom: 2px;
}

#collected_movies_form {
   display: flex;
   flex-direction: column;
}

.remove_button {
   border: 2px solid var(--orange);
   border-radius: 3px;
   padding: 2px;
   transition: .2s;
   font-size: 12px;
}

.remove_button:hover {
   cursor: pointer;
   background: var(--orange);
   transition: .2s
}

#results_count {
   width: 25px;
   margin-left: 5px;
}


@media screen and (max-width: 700px) {
   #collected_movies_controls {
      display: none;
   }
   #collected_movies_container {
      height: 80px;
   }
}