#collected_movies_container {
   height: 100px;
   min-width: 300px;
   background: var(--white);
   color: black;
   z-index: 2;
   /* margin-top: 10px; */
   display: flex;
   border-radius: 5px;
   padding: 5px;
   box-shadow: 0px 2px 18px 1px, 
      inset 0px 0px 5px 0px;
}

#collected_movies_container::-webkit-scrollbar {
   width: 1em;
}
/* #collected_movies_container::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */

#mobile_get_suggestions {
   position: fixed;
}

#collected_movies_controls {
   padding: 5px;
   width: 200px;
   border-right: 3px solid var(--orange);
}

#collected_movies_list {
   display: flex;
   flex-direction: column;
   text-align: center;
   overflow-y: scroll;
   width: 350px;
   padding: 5px;
   position: relative;
}

#mobile_list_head {
   display: flex;
   justify-content: space-between;
}

#add_movies_below {
   color: rgba(0, 0, 0, .3)
}

/* .listing_title {

} */

.collected_movie_listing {
   display: flex;
   justify-content: space-between;
   margin-top: 2px;
   margin-bottom: 2px;
   margin-right: 5px;
}

#collected_movies_form {
   display: flex;
   flex-direction: column;
}

.remove_button {
   border: 2px solid var(--orange);
   border-radius: 3px;
   padding: 2px;
   transition: .2s;
   font-size: 12px;
}

.remove_button:hover {
   cursor: pointer;
   background: var(--orange);
   transition: .2s
}

#results_count {
   width: 25px;
   margin-left: 5px;
}


@media screen and (max-width: 700px) {
   #collected_movies_controls {
      display: none;
   }
   #collected_movies_container {
      height: 80px;
      margin-top: 3px;
   }
   #mobile_get_suggestions {
      display: flex;
      bottom: 15px;
      right: 15px;
      border: 3px solid var(--orange);
      border-radius: 999px;
      background: var(--redpink);
      padding: 8px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1),
         inset 3px 3px 5px 0px rgba(255, 255, 255, 0.2);
   }
   #mobile_get_suggestions:active {
      box-shadow: inset 3px 3px 5px 1px rgba(0, 0, 0, .3);

   }
}