#collected_movies_container {
   max-height: 200px;
   min-width: 300px;
   border: 1px solid yellow;
   background: white;
   color: black;
   z-index: 2;
   margin-top: 10px;
   display: flex;
}

#collected_movies_list {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: scroll;
   width: 300px;
   padding: 5px;
}

.listing_title {
}

.collected_movie_listing {
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
   margin-bottom: 5px;
}

#collected_movies_controls {
   padding: 5px;
}