#details_outer {
   width: 800px;
   height: 450px;
   display: inline-block;
}

#details_panel_container {
   background-color: rgba(0, 0, 0, .0);
   display: flex;
   flex-direction: row;
   height: 100%;
}

#details_container {
   /* position: absolute; */
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

#details_subcontainer {
   display: flex;
   flex-direction: column;
   padding: 10px;
}

#movie_backdrop {
   width: 800px;
   height: 450px;
   position: absolute;
   z-index: -1;
}

.details_property {
   /* Taken from out graybrown in index.css - needed  */
   background-color: rgba(0, 0, 0, .5);
   padding: 10px;
   margin: 0px;
   border-radius: 3px;
   /* box-shadow: -1px -1px; */
   display: inline-block;
   padding: 0px;
   padding-bottom: 3px;
   padding-left: 3px;
}

#details_title {
   /* background-color: rgba(0, 0, 0, .3); */
   padding: 10px;
   margin-bottom: 0px;
   font-size: 20px;
   margin: 0px;
   color: var(--orange);
}

#details_date {
   
}

#details_user_rating {

}

#details_popularity {

}

#details_overview {
   border-radius: 4px;
   width: 100%;
}

#details_controls {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: rgba(0, 0, 0, .3);
   width: 200px;
   margin: 0px;
}

@media screen and (max-width: 700px) {
   #movie_backdrop {
      width: 100%;
      height: auto;
   }
}