#details_outer {
   width: 800px;
   height: 450px;
   display: inline-block;
}

#details_panel_container {
   position: relative;
   background-color: rgba(0, 0, 0, .0);
   display: flex;
   flex-direction: row;
   height: 100%;
}

#details_container {
   /* position: absolute; */
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

#details_subcontainer {
   display: flex;
   flex-direction: column;
}

#movie_backdrop {
   width: 800px;
   height: 450px;
   position: absolute;
   z-index: -1;
}

.details_property {
   /* Taken from out graybrown in index.css - needed  */
   background-color: rgba(0, 0, 0, .5);
   padding: 10px;
   margin: 0px;
   display: inline-block;
   padding: 0px;
   padding-bottom: 3px;
   padding-left: 3px;
}

#details_title {
   /* background-color: rgba(0, 0, 0, .3); */
   padding: 10px;
   margin-bottom: 0px;
   font-size: 20px;
   margin: 0px;
   color: var(--orange);
}

#details_date {
   
}

#details_user_rating {

}

#details_popularity {

}

#details_overview {
   width: 100%;
   padding-top: 6px;
}

#details_controls {
   position: absolute;
   right: 0px;
   top: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: rgba(0, 0, 0, .5);
   width: 70px;
   padding: 20px;
   z-index: 1;
}

@media screen and (max-width: 700px) {
   #details_panel_controller {
      background: none;
   }
   #movie_backdrop {
      width: 100%;
      height: auto;
      position: relative;
   }
   #details_outer {
      width: auto;
      height: auto;
      position: relative;
   }
   #details_container {

   }
   .details_property {
      width: 120px;
      font-size: 12px;
      background: none;
      margin-bottom: 4px;
      box-shadow: -1px -1px;
      border-radius: 4px;
   }
   #details_title {
      font-size: 16px;
      padding-top: 4px;
   }
   #details_overview {
      font-size: 14px;
   }

   #details_controls {
      background: none;
   }
}