body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;

  --width_main: 1000px;

  --orange: rgb(247, 142, 25);
  --tan: #DBD8C0;
  --tan2: rgb(240, 238, 215);
  --light_blue: #7BC5E0;
  --medium_blue: #1E66A8;
  --dark_blue: #02287C;
  --black: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
